* {
    margin: 0;
    padding: 0;
}
/*Lower Navbar Starts*/
.lower_navbar_cus_main {
    width: 100%;
    height: 80px;
    background-color: #f295b2;
    position: relative;
}
.lower_navbar_first_item_cus {
    gap: 10px;
}
.lower_navbar_first_item_cus li a, .horizontal_line_cus {
    color: #fdebe7;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-style: normal;
}
.lower_navbar_second_item_cus a {
    color: #fdebe7;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-style: normal;
}
.lower_navbar_second_item_cus {
    gap: 20px; 
}
.lower_navbar_first_item_cus_two {
    width: 90%;
    height: 200px;
    margin: auto;
    gap: 15px;
    justify-content: center;
    align-items: end;
}
.lower_navbar_first_item_cus_two a {
    color: #fdebe7;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.lower_navbar_first_item_cus li a:hover {
    text-decoration: underline;
    color: #fdebe7;
}
#navbarSupportedContent {
    margin-top: 3px;
}
/*Lower Navbar Ends*/
/*!Lower Navbar For Responsive Starts*/
@media only screen and (min-width:600px) and (max-width:991px) {
    .lower_navbar_cus_inner {
        width: 96% !important;
        margin: auto !important;
    }
}
@media only screen and (max-width:991px) {
    .hamburger_menu_align {
        width: 100%;
        height: 80px !important;
        background-color: #ffffff;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }
    .lower_navbar_cus_main {
        height: 80px;
        background-color: #ffffff;
    }
    .lower_navbar_cus_inner {
        padding: 0 !important;
    }
    .lower_navbar_brand_cus {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 45px !important;
        color: #f295b2 !important;
    }
    .lower_navbar_brand_cus span {
        color: #62c3e6;
    }
    .offcanvas {
        width: 265px !important;
        background-color: #5f595b !important;
    }
    .hamburger_menu_item_cus {
        display: flex !important;
        align-items: center !important;
    }
    .hamburger_menu_item_cus li a {
        font-size: 22px;
        font-weight: bold;
        color: #fdebe7;
        font-family: "Manrope", sans-serif;
        font-style: normal;
    }
    .offcanvas_transition_cus {
        transition: 0.5s !important;
        -webkit-transition: 0.5s !important;
        -moz-transition: 0.5s !important;
        -ms-transition: 0.5s !important;
        -o-transition: 0.5s !important;
}
}
/*!Lower Navbar For Responsive Ends*/
/*Upper Navbar Starts*/
.upper_navbar_left_item_cus, .upper_navbar_right_item_cus {
    gap: 50px;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: bold;
    align-items: center !important;
    justify-content: center !important;
}
.upper_navbar_brand {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 50px !important;
    color: #f295b2 !important;
}
.upper_navbar_brand span {
    color: #62c3e6;
}
.upper_navbar_cus_main {
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    z-index: 2 !important;
    position: absolute;
    left: 10%;
    top: 7%;
}
.upper_navbar_cus_inner {
    width: 80%;
    margin: auto;
}
.upper_navbar_left_item_cus li a, .upper_navbar_right_item_cus li a {
    color: #575757;
}
.upper_navbar_left_item_cus li a:hover, .upper_navbar_right_item_cus li a:hover {
    color: #f295b2;
}
/*Upper Navbar Ends*/
/*!Upper Navbar For Responsive Starts*/
@media only screen and (min-width:992px) and (max-width:1300px) {
    .upper_navbar_left_item_cus, .upper_navbar_right_item_cus {
        gap: 20px !important;
    }
}
/*!Upper Navbar For Responsive Ends*/
/*Slider Hero Section Starts*/
.slider_img_one {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/carouselTwo.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.slider_content_one {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}
.slider_content_two {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
}
.slider_img_two {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/carouselOne.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.hero_slider_main {
    position: relative;
}
.owl-prev span {
    width: 50px !important;
    height: 50px !important;
    position: absolute;
    font-size: 50px;
    top: 42%;
    left: 5%;
    background-color: rgba(65, 125, 225, 0.4);
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.3px;
    color: #ffffff;
}
.owl-next span {
    width: 50px !important;
    height: 50px !important;
    position: absolute;
    font-size: 50px;
    top: 42%;
    right: 5%;
    background-color: rgba(65, 125, 225, 0.4);
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.3px;
    color: #ffffff;
}
.owl-item.active .btn_pill {
    animation-name: jackInTheBox;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.owl-item.active .slider_content_two {
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.owl-item.active .slider_content_one {
    animation-name: backInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}
/*Slider Hero Section Ends*/
/*History Title Starts*/
.vertical_line {
    width: 6%;
    height: 4px;
    margin: auto;
    background-color: #f295b2;
}
.history_title_txt {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    padding: 15px;
}
.history_title_main {
    margin-top: 100px;
}
/*History Title Ends*/
/*!History Title For Responsive Starts*/
@media only screen and (max-width:429px) {
    .history_title_txt {
        font-size: 24px;
    }
}
/*!History Title For Responsive Ends*/
