* {
    margin: 0;
    padding: 0;
}
/*Lower Navbar Starts*/
.lower_navbar_cus_main {
    width: 100%;
    height: 100px;
    background-color: #f295b2;
}
.lower_navbar_first_item_cus {
    gap: 10px;
}
.lower_navbar_first_item_cus a, .horizontal_line_cus, .lower_navbar_second_item_cus a {
    color: #fdebe7;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.lower_navbar_second_item_cus {
    gap: 20px; 
}
/*Lower Navbar Ends*/
/*!Lower Navbar For Responsive Starts*/
@media only screen and (min-width:600px) and (max-width:991px) {
    .lower_navbar_cus_inner {
        width: 96% !important;
        margin: auto !important;
    }
}
@media only screen and (max-width:991px) {
    .hamburger_menu_align {
        width: 100%;
        height: 80px !important;
        background-color: #ffffff;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }
    .lower_navbar_cus_main {
        height: 80px;
        background-color: #ffffff;
    }
    .lower_navbar_cus_inner {
        padding: 0 !important;
    }
    .lower_navbar_brand_cus {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 45px !important;
        color: #f295b2 !important;
    }
    .lower_navbar_brand_cus span {
        color: #62c3e6;
    }
    .offcanvas {
        width: 265px !important;
        background-color: #5f595b !important;
    }
    .hamburger_menu_item_cus {
        display: flex !important;
        align-items: center !important;
    }
    .hamburger_menu_item_cus li a {
        font-size: 22px;
        font-weight: bold;
    }
    .offcanvas_transition_cus {
        transition: 1s !important;
        -webkit-transition: 1s !important;
        -moz-transition: 1s !important;
        -ms-transition: 1s !important;
        -o-transition: 1s !important;
}
}
/*!Lower Navbar For Responsive Ends*/
